In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
"imie": ["Ala", "Bartek", "Celina"],
"wiek": [22,25,20],
"ocena":[4.5, 3.8, 5.0]
}
df = pd.DataFrame(data)
display(df)
print(df.describe())

     imie  wiek  ocena
0     Ala    22    4.5
1  Bartek    25    3.8
2  Celina    20    5.0

            wiek     ocena
count   3.000000  3.000000
mean   22.333333  4.433333
std     2.516611  0.602771
min    20.000000  3.800000
25%    21.000000  4.150000
50%    22.000000  4.500000
75%    23.500000  4.750000
max    25.000000  5.000000

In [3]:
df["Rok Studiow"] = [1, 2, 3]

In [4]:
oceny = [4.5, 3.8, 5.0]
srednia = sum(oceny) / len(oceny)
print(f"Srednia to : {srednia}")

Srednia to : 4.433333333333334

In [5]:
oceny = df[df["ocena"] >=4]
print(oceny)

     imie  wiek  ocena  Rok Studiow
0     Ala    22    4.5            1
2  Celina    20    5.0            3